<div [formGroup]="dataprofileformgroup">
  <!-- General Profile -->
  <div class="row">

    <mat-card class="cardProfile" style="background-color: gray;">
      <mat-card-title class="Headfont">General Profile</mat-card-title>
      <mat-card-subtitle>Last Update 01/01/2541 </mat-card-subtitle>
      <!-- image -->
      <div class="row">
        <img class="avatar" alt="Avatar" [src]="getProfileLinkImg('#profile')" />
      </div>
      <br>
      <!-- metaData -->
      <div class="row">
        <mat-card>
          <div class="row">
            <div class="col-md-6 inline">
              <label [class]="labelclass" for="name">Name:</label>
              <span><input [class]="inputclass" type="text" formControlName="name" placeholder="Readonly input here…"
                  [readonly]="noteditmode"></span>
            </div>
            <div class="col-md-6">
              <label [class]="labelclass" for="lastName">LastName:</label>
              <span><input [class]="inputclass" type="text" formControlName="lastName"
                  placeholder="Readonly input here…" [readonly]="noteditmode"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 inline">
              <label [class]="labelclass" for="weigth">Weigth:</label>
              <span><input [class]="inputclass" type="text" formControlName="weigth" placeholder="Readonly input here…"
                  [readonly]="noteditmode"></span>
            </div>
            <div class="col-md-6">
              <label [class]="labelclass" for="tall">Tall:</label>
              <span><input [class]="inputclass" type="text" formControlName="tall" placeholder="Readonly input here…"
                  [readonly]="noteditmode"></span>
            </div>
          </div>
        </mat-card>
      </div>
      <br>
      <!-- Action -->
      <mat-card-actions>
        <div class="row">
          <div class="col-md-3">
            <button class="btn btn-primary" (click)="checkLike('#like')"><svg xmlns="http://www.w3.org/2000/svg"
                width="16" height="16" fill="currentColor" class="bi bi-emoji-heart-eyes" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                  d="M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z" />
              </svg>LIKE</button>
          </div>
          <div class="col-md-3 content-end">
            <button class="btn btn-danger " (click)="checkLike('#unlike')"><svg xmlns="http://www.w3.org/2000/svg"
                width="16" height="16" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                  d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
              </svg>UnLIKE </button>
          </div>
          <div class="col-md-6">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg>
            {{like}}
          </div>
        </div>

      </mat-card-actions>


    </mat-card>

  </div>
  <!-- General Profile -->
  <br>

  <div class="row">
    <!--Work experience -->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="Headfont">Work experience</h5>
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let image of imagesWorkexp" class="slide">
              <img class="education-img1" src="{{ image.img }}">
            </div>
          </ngx-slick-carousel>
          <p class="card-text">
            2020 - Work At Clicknext Co,Th
          </p>
          <p class="card-text">
            2021 - Work At frontis Co,Th
          </p>
          <a href="#" class="btn btn-primary">See More</a>
        </div>
      </div>
    </div>
    <!--Education-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" class="Headfont">Education</h5>
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let image of imagesEducation" class="slide">
              <img class="education-img1" src="{{image.img}}">
            </div>
          </ngx-slick-carousel>
          <p class="card-text">
            2017 - BangBao Wittayakom School
          </p>
          <p class="card-text">
            2020 - BUU University
          </p>
          <a href="#" class="btn btn-primary">See More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" (click)="OpenNormalMode()" class="btn btn-primary" disable>Draf</button>
<button type="button" (click)="OpenEditMode()" class="btn btn-dark">Edit</button>